# ==================================
# 🔧 General
# ==================================
.DS_Store
*.log
*.tmp
*.bak

# ==================================
# ⚙️ IDEs y editores
# ==================================
.vscode/
.idea/

# ==================================
# 🦀 Rust
# ==================================
target/
**/target/

# ==================================
# 🐹 Go
# ==================================
bin/
*.exe
*.test

# ==================================
# 🐋 Docker
# ==================================
*.env
.env.*
docker-data/
